.game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    padding: 30px;
    background-image: './assets/images/img_play/hp5.png';
    border-radius: 8px;
    cursor: pointer;
    transition: background-image .3s;
}

.card:hover {
    background-color: rgb(241, 213, 176);
}

.card:active {
    background-color: rgb(204, 159, 100);
}

.open {
    font-size: 36px;
    color: white;
    background-color: rgb(37, 60, 188);
    cursor: default;
}

.open:hover{
    background-color: rgb(37, 60, 188);
}

.open:active{
    background-color: rgb(37, 60, 188);
}

.success {
    font-size: 36px;
    color: white;
    background-color: #009705;
    cursor: default;
}

.success:hover{
    background-color: #009705;
}

.success:active{
    background-color: #009705;
}