.RRhello__p {
    text-align: center;
}
.game {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game__p {
text-align: center;
}

.game__card {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: auto;
      }

.cards__item {
    border: solid 1px black;
    width: 20vw;
    height: 30vh;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    }

.cards__item:active {
    transform: scale(0.97);
    transition: transform 0.3s;
}
.cards__item.flip {
    transform: rotateY(180deg);
}
.card__FF,
.card__BF
 {
border-radius: 10px;
padding: 10px;
//background-color: lightblue;
position: absolute;
backface-visibility: hidden;
 }
       
.card__FF {
    transform: rotateY(180deg);
}