@import url("https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap");
@mixin font($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;}

.play__p {
   @include font(2vw, 500);
   padding: 1vh;
   text-align: center;
  }
    
.play {
margin-top: 2vh;
box-sizing: border-box;
}

.play__cards {
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
   perspective: 1000px;
      }

.card {
   //background-color: plum;
   margin: 0;
   padding: 10px;
    width: 15vw;
    height: 20vh;
    padding: 5px;
    border-radius: 30px;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    transform-style: preserve-3d;
               }

               
 .card:active {
  transform: scale(0.95);
   transition: transform 0.3s;
   background-color: goldenrod;
               color: #110727;
               box-shadow:
                   0 0 5px gold,
                   0 0 25px gold,
                   0 0 50px gold,
                   0 0 200px gold;  
       }

.card.flip {
   rotate: y 180deg;
       }
       
.card__FF,
.card__BF  {
width: 15vw;
height: 30vh;
background-color: none;
border-radius: 30px;
position: absolute;
backface-visibility: hidden;
}

.card__FF {
    rotate: Y 180deg;
             }