.user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .form__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
    .form__label {
        font-weight: 800;
    }
    .form__input {
        min-width: 20px;
        max-width: 250px;
    }
    .form__input:required:valid {
        border: 1.5px solid #433f77;
    }
    .agreement-wrap {
        flex-direction: row;
        align-items: center;
    }
    .error {
        color: red;
    }
}
.usercard {
    .usercard__label {
        font-weight: 800;
    }
    .usercard__info {
        margin: 20px 0;
    }
}
