.container__box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1%;
    justify-content: space-between;
    padding: 1%;
}
.member {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border: 1px solid;
    border-radius: 15px;
    padding: 2%;
}
.member__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
}
