@import "./template";
.container {
    width: 100%;
    .container__box {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
        gap: 1%;
        justify-content: space-between;
        padding: 1%;
        overflow: auto;
    }
    .container__info {
        padding: 1%;
    }
    .container__title {
        display: flex;
        @include flex(column, center, center);
        @include font(5vh, 700);
    }
    .container__text {
        @include font(3.5vh, 500);
    }
}
.member {
    width: 100%;
    display: inline-block;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border: 1px solid;
    border-radius: 15px;
    padding: 2%;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.2);
    }
}
.member__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27vh;
}
.member__text {
    @include font(3vh, 500);
}
.member__name {
    @include font(4vh, 700);
    padding-bottom: 2%;
}
