.spell {
    text-align: center;
}

.rndm {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.rndm__btn {
    border-radius: 10%;
}

.rndm__spell,
.rndm__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}


.rndm__btn :hover {
    cursor: pointer;
}

.rndm__btn :active {
    transform: scale(1.2);
    box-shadow: grey;
}
.rndm__img {
    border-radius: 10%;
}
.rndm__p {
    text-align: center;
}
