@import url('https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap');

@mixin flex($fd, $jc, $ai) {
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}
@mixin font($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;
}

* {
    border: 1px solid;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    cursor: url('/assets/images/img_main/wand.png'), auto;
    background-color: #110727;
    color: goldenrod;
    font-family: 'Platypi', serif;
}

header {
    min-height: 200px;
    min-width: 100%;
    border-bottom: 1px solid;
    .header__wrapper {
        min-width: 100%;
        display: flex;
        @include flex(row, space-between, center);
        padding: 1%;
        a {
            text-decoration: none;
            @include font(2vw, 700);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .header__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .header__logo {
        width: 80%;
        img {
            max-width: 100%;
        }
    }
    #play {
        position: absolute;
        top: 1%;
        right: 1%;
        border: none;
    }
}
.bodycontainer {
    display: flex;
    min-height: 100vh;
    @include flex(column, space-between, center);
}
footer {
    display: flex;
    @include flex(column, center, center);
    min-width: 100%;
    min-height: 100px;
    border-top: 1px solid;
    @include font(1.8vw, 500);
}

.container_main {
    display: flex;
    @include flex(column, space-between, center);
    .container__info {
        margin-top: 2%;
        align-content: center;
        @include font(2vw, 500);
        .container__greet {
            text-align: center;
            margin-top: 0.5%;
        }
    }
    .hatbox {
        height: 40vh;
        width: 27%;
        display: flex;
        @include flex(column, center, center);
        #hat {
            width: 100%;
            max-height: 100%;
        }
    }
}
