@import url("https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap");
.play__p {
  font-size: 2vw;
  font-weight: 500;
  padding: 1vh;
  text-align: center;
}

.play {
  margin-top: 2vh;
  box-sizing: border-box;
}

.play__cards {
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  perspective: 1000px;
}

.card {
  margin: 0;
  padding: 10px;
  width: 15vw;
  height: 20vh;
  padding: 5px;
  border-radius: 30px;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  transform-style: preserve-3d;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.3s;
  background-color: goldenrod;
  color: #110727;
  box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}

.card.flip {
  rotate: y 180deg;
}

.card__FF,
.card__BF {
  width: 15vw;
  height: 30vh;
  background-color: none;
  border-radius: 30px;
  position: absolute;
  backface-visibility: hidden;
}

.card__FF {
  rotate: Y 180deg;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  cursor: url("/assets/images/img_main/wand.png"), auto;
  background-color: #110727;
  color: goldenrod;
  font-family: "Platypi", serif;
}

header {
  min-height: 200px;
  min-width: 100%;
  border-bottom: 1px solid;
}
header .header__wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
header .header__wrapper a {
  text-decoration: none;
  font-size: 2vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__wrapper a:hover {
  background-color: goldenrod;
  color: #110727;
  box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}
header .header__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
header .header__logo {
  width: 80%;
}
header .header__logo img {
  max-width: 100%;
}
header #play {
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
}
header #play img:hover {
  background-color: goldenrod;
  border-radius: 50px;
  box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}

.bodycontainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100px;
  border-top: 1px solid;
  font-size: 1.8vw;
  font-weight: 500;
}
footer a {
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.container_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container_main .container__info {
  margin-top: 2%;
  align-content: center;
  font-size: 2vw;
  font-weight: 500;
}
.container_main .container__info .container__greet {
  text-align: center;
  margin-top: 0.5%;
}
.container_main .container__info a {
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.container_main .hatbox {
  height: 40vh;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_main .hatbox #hat {
  width: 100%;
  max-height: 100%;
}

.active {
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 2em blue, 0 0 1em blue;
}
.active:hover {
  text-shadow: 1px 1px 2px gold, 0 0 2em blue, 0 0 1em blue;
}

#logo:hover {
  background-color: goldenrod;
  border-radius: 100%;
  box-shadow: 0 0 5px goldenrod, 0 0 25px goldenrod, 0 0 50px goldenrod, 0 0 200px goldenrod;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 0;
  font-size: 2vw;
  font-weight: 500;
}
.user .user__title {
  padding: 1%;
  margin-bottom: 5%;
  font-size: 2.5vw;
  font-weight: 500;
}
.user .user__information {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 48%));
  align-items: center;
  gap: 20px;
  width: 100%;
}
.user .usercard .usercard__label {
  font-size: 2.5vw;
  font-weight: 700;
}
.user .usercard .usercard__info {
  margin: 20px 0;
}
.user .usercard .usercard__title {
  padding: 1%;
  margin-bottom: 5%;
}

.form {
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.form .form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}
.form .form__label {
  margin: 0;
  font-weight: 800;
  font-size: 2.5vw;
  font-weight: 600;
}
.form .form__input {
  margin: 0;
  border: 1px solid silver;
  border-radius: 5px;
  min-width: 2.5vh;
  max-width: 50vh;
  min-height: 3.5vh;
}
.form .form__sex {
  margin: 0;
}
.form .form__input:required:valid {
  margin: 0;
  border: 1.5px solid #433f77;
}
.form .form__input::-webkit-input-placeholder {
  padding-left: 3%;
  color: silver;
}
.form .form__input::-moz-placeholder {
  padding-left: 35%;
  color: silver;
}
.form .input_sex {
  min-height: 1.5vh;
  margin: 0;
  padding: 0;
}
.form .input_sex::-webkit-input-placeholder {
  padding: 0;
}
.form .input_sex::-moz-placeholder {
  padding: 0;
}
.form .agreement-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}
.form .agreement-wrap .form__agreement {
  min-height: 2.5vw;
}
.form .error {
  color: red;
  margin: 0;
}
.form .form__button {
  color: black;
  background-color: goldenrod;
  border-radius: 15px;
  min-height: 5vw;
  min-width: 20vw;
  font-size: 2.5vw;
  font-weight: 700;
}

.findfriend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: 400;
}
.findfriend .findfriend__title {
  padding: 1%;
  margin-bottom: 2%;
  font-size: 2.5vw;
  font-weight: 700;
}
.findfriend .findfriend__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.findfriend .findfriend__form .findfriend__input {
  margin: 0;
  border: 1px solid silver;
  border-radius: 5px;
  min-width: 2.5vh;
  max-width: 50vh;
  min-height: 3.5vh;
}
.findfriend .findfriend__form .findfriend__button {
  margin: 10% 0;
  color: black;
  background-color: goldenrod;
  border-radius: 15px;
  min-height: 5vw;
  min-width: 20vw;
  font-size: 2.5vw;
  font-weight: 700;
}
.findfriend .findfriend__result {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30vw);
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 100%;
  padding: 1%;
}
.findfriend .findfriend__result .findfriend__username {
  font-size: 2.5vw;
  font-weight: 600;
  padding-bottom: 1.5%;
}
.findfriend .findfriend__result .finduser__info {
  padding-bottom: 1.5%;
}

#hatText {
  display: inline;
  font-size: 1.5vw;
  font-weight: 500;
}

.houseBox {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#chosenH {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
#chosenH img {
  height: 30vh;
}

#tryButton {
  color: black;
  background-color: goldenrod;
  border-radius: 10px;
  min-height: 5vw;
  max-width: 20vw;
  font-size: 2.5vw;
  font-weight: 700;
  margin-bottom: 3%;
}
#tryButton:hover {
  box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}

.otherH {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-bottom: 3%;
}
.otherH img {
  height: 20vh;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  cursor: url("/assets/images/img_main/wand.png"), auto;
  background-color: #110727;
  color: goldenrod;
  font-family: "Platypi", serif;
}

header {
  min-height: 200px;
  min-width: 100%;
  border-bottom: 1px solid;
}
header .header__wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
header .header__wrapper a {
  text-decoration: none;
  font-size: 2vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__wrapper a:hover {
  background-color: goldenrod;
  color: #110727;
  box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}
header .header__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
header .header__logo {
  width: 80%;
}
header .header__logo img {
  max-width: 100%;
}
header #play {
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
}
header #play img:hover {
  background-color: goldenrod;
  border-radius: 50px;
  box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}

.bodycontainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100px;
  border-top: 1px solid;
  font-size: 1.8vw;
  font-weight: 500;
}
footer a {
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.container_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container_main .container__info {
  margin-top: 2%;
  align-content: center;
  font-size: 2vw;
  font-weight: 500;
}
.container_main .container__info .container__greet {
  text-align: center;
  margin-top: 0.5%;
}
.container_main .container__info a {
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.container_main .hatbox {
  height: 40vh;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_main .hatbox #hat {
  width: 100%;
  max-height: 100%;
}

.active {
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 2em blue, 0 0 1em blue;
}
.active:hover {
  text-shadow: 1px 1px 2px gold, 0 0 2em blue, 0 0 1em blue;
}

#logo:hover {
  background-color: goldenrod;
  border-radius: 100%;
  box-shadow: 0 0 5px goldenrod, 0 0 25px goldenrod, 0 0 50px goldenrod, 0 0 200px goldenrod;
}

.container {
  width: 100%;
}
.container .container__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 1%;
  justify-content: space-between;
  padding: 1%;
  overflow: auto;
}
.container .container__info {
  padding: 1%;
}
.container .container__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  font-weight: 700;
}
.container .container__text {
  font-size: 3.5vh;
  font-weight: 500;
}

.member {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  border: 1px solid;
  border-radius: 15px;
  padding: 2%;
}

.member__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27vh;
}

.member__text {
  font-size: 3vh;
  font-weight: 500;
}

.member__name {
  font-size: 4vh;
  font-weight: 700;
  padding-bottom: 2%;
}

.spell__header {
  font-size: 2vw;
  font-weight: 500;
  padding: 1vh;
  text-align: center;
}

.spell__p {
  font-size: 1.5vw;
  font-weight: 500;
  padding: 1vh;
  text-align: center;
}

.rndm {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.rndm__btn {
  padding-left: 1%;
  border-radius: 500px;
  width: 10vw;
  height: 10vh;
  background-color: goldenrod;
  margin: auto;
}

.rndm__btn__p {
  font-size: 1.1vw;
  font-weight: 500;
  background-color: goldenrod;
  color: purple;
  text-align: center;
}

.rndm__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: 80vw;
}

.rndm__btn:hover {
  cursor: pointer;
  background-color: goldenrod;
  box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}

.rndm__btn:active {
  transform: scale(1.2);
  box-shadow: grey;
}

.rndm__img {
  border-radius: 10%;
}

.rndm__p {
  font-size: 1.7vw;
  font-weight: 500;
  padding: 1vh;
  text-align: center;
}

.RRhello__h1 {
  font-size: 3vw;
  font-weight: 700;
  padding: 1vh;
  text-align: center;
  border-bottom: 1px solid;
}

.footer {
  width: 100vw;
  min-height: 2vh;
}

.footer_RR {
  font-size: 2vw;
  font-weight: 700;
  padding: 1vh;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  cursor: url("/assets/images/img_main/wand.png"), auto;
  background-color: #110727;
  color: goldenrod;
  font-family: "Platypi", serif;
}

header {
  min-height: 200px;
  min-width: 100%;
  border-bottom: 1px solid;
}
header .header__wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
header .header__wrapper a {
  text-decoration: none;
  font-size: 2vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__wrapper a:hover {
  background-color: goldenrod;
  color: #110727;
  box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}
header .header__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
header .header__logo {
  width: 80%;
}
header .header__logo img {
  max-width: 100%;
}
header #play {
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
}
header #play img:hover {
  background-color: goldenrod;
  border-radius: 50px;
  box-shadow: 0 0 5px gold, 0 0 25px gold, 0 0 50px gold, 0 0 200px gold;
}

.bodycontainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100px;
  border-top: 1px solid;
  font-size: 1.8vw;
  font-weight: 500;
}
footer a {
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.container_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container_main .container__info {
  margin-top: 2%;
  align-content: center;
  font-size: 2vw;
  font-weight: 500;
}
.container_main .container__info .container__greet {
  text-align: center;
  margin-top: 0.5%;
}
.container_main .container__info a {
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.container_main .hatbox {
  height: 40vh;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_main .hatbox #hat {
  width: 100%;
  max-height: 100%;
}

.active {
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 2em blue, 0 0 1em blue;
}
.active:hover {
  text-shadow: 1px 1px 2px gold, 0 0 2em blue, 0 0 1em blue;
}

#logo:hover {
  background-color: goldenrod;
  border-radius: 100%;
  box-shadow: 0 0 5px goldenrod, 0 0 25px goldenrod, 0 0 50px goldenrod, 0 0 200px goldenrod;
}/*# sourceMappingURL=styles.css.map */